extends ../../layout/layoutIndex

block title
  title Grupo

block main
  .row.center-xs
    .col-xs-10
      if (group != "")
        h1 Grupo #{group.title}
        table.highlight
          thead
            tr
              th title
              th description
              th id
              th creationDate
              th Miembros Actuales
              th Solicitudes
          tbody
            tr
              td #{group.title}
              td #{group.description}
              td(id='groupId') #{group._id}
              td #{group.creationDate}
              td
                each member in group.members
                  div #{member.user +" "+ member.isAdmin }
                    if member.isAdmin == true
                      form(method="POST" action="/groups/admin/" + group._id + "/" + member.user + "?_method=DELETE" )
                        input.btn.margin-small(id="send" type="submit", value="NO ser Admin ")
                    else
                      form(method="POST" action="/groups/admin/" + group._id + "/" + member.user + "?_method=PUT" )
                        input.btn.margin-small(id="send" type="submit", value="Ser Admin ")

                    form(method="POST" action="/groups/member/" + group._id + "/" + member.user + "?_method=DELETE" )
                      input.btn.margin-small(id="send" type="submit", value="Eliminar ")
                    //-td #{member.email}
                //-each group.members in group
                  td {}
              td
                each request in group.requests
                  li  USER-: #{request.sendBy} #{request._id}
                    form(method="POST" action="/groups/member/" + group._id + "/"+ request.sendBy +"?_method=PUT" )
                      input.btn.margin-small(id="send" type="submit", value="Aceptar ")

                  //-#{request.comment}

      else
        h2 Error al cargar el grupo
      //form(method="POST" action="/groups/notif?_method=POST"  id="notiForm" name="notiForm")
      .input-field.col.s12
        textarea.materialize-textarea(type="text" rows= "5" id="groupMessage" data-length="100" name="groupMessage" autofocus)
        label(class="mdl-textfield__label" for="sample5" name="descriptio2n")  mensaje/comentario/notificacion
        input.btn.margin-small(id="sendMessage" type="button", value="Enviar mensajeee")

      h1 Agregar miembros

      if (users != "")
        table.highlight
          thead
            tr
              th providerId
              th username
              th email
              th administrator
              th ID
          tbody
            each user in users
              tr
                td #{user.providerId}
                td #{user.username}
                td #{user.email}
                td #{user.administrator}
                td #{user._id}
                td
                  form(method="POST" action="/groups/member/" + group._id + "/" + user._id + "?_method=PUT" )
                    input.btn.margin-small(type="submit", value="Agregar")
      else
        h2 No hay usuarios en la base de datos
