extends ../../layout/layoutIndex

block title
  title Publicaciones [Ofertas, Demandas, Fuentes de informacion]

block main
  .row.center-xs
    .col-xs-8
      h3 Sources Information
  include ../../layout/errorMessage
  .row.center-xs
    a.waves-effect.waves-light.btn(href="/") Regresar al Inicio
    a.waves-effect.waves-light.btn.margin-small(href="/publications/new") new
  h4 Filtros en la tabla
  .row
    a.waves-effect.waves-light.btn.margin-small(href="/publications") Publications
    a.waves-effect.waves-light.btn.margin-small(href="/publications/offers/list") Offers
    a.waves-effect.waves-light.btn.margin-small(href="/publications/demands/list") Demands
    a.waves-effect.waves-light.btn.margin-small(href="/publications/sources/list") Sources
  .row.center-xs
    .col-xs-12
      if (publications != "")
        table.highlight.centered
          thead
            tr
              th Titulo
              th Imagen
              th Autor
              th Tipo
              th Fecha
              th(colspan="3") crud
          tbody
            each publication in publications
              tr
                td #{publication.title}
                td #{publication.image}
                td #{publication.postedBy}
                td #{publication.typePublication}
                td #{publication.creationDate.hour + publication.creationDate.date}
                td: a.waves-effect.waves-light.btn.margin-small(href="/publication/" + publication._id + "/edit") E
                td: a.waves-effect.waves-light.btn.margin-small(href="/publication/" + publication._id) V
                td
                  form(method="POST" action="/publication/" + publication._id + "?_method=DELETE" enctype="multipart/form-data")
                    input.btn.margin-small(type="submit", value="D")
      else
        h3 Esta tabla se encuentra vacia
