extends templates/template
block title
  | Administración Comunidades
block main
  .row.center-xs.nav-menu
    .col-xs-12
      .ui.secondary.menu
        a.item(id="sidebar")
          i.sidebar.icon
          | Menu
        .item
          .ui.small.breadcrumb
            a.section(href="/home") Inicio
            i.right.chevron.icon.divider
            .active.section Administracion Comunidades
          button#openModalCommunities.ui.active.button.green.margin-sm-left(data-tooltip="Es necesario llenar todos los campos" data-position="right center" data-inverted="")
            i.plus.icon
            | Crear Cominidad
          script.
            $('#openModalCommunities').click(function () {
              $('.ui.modal#communities')
                .modal('input.type').val('nameXD')
                .modal('setting', 'closable', false)
                .modal('show')
              ;
            })
        .right.menu
          include administrator/right_menu
  include administrator/sidebar
  include templates/errorMessage
  include templates/push-notifications
  .ui.segment.red.no-margin-top
    h2.ui.center.aligned.icon.header.red
      i.circular.users.icon.red
      |   Administración Comunidades
  .contenedor-tabla
    table.ui.single.line.table.striped
      thead
        tr
          th ID
          th Comunidad
          th Categoría / Subcategoría
          th Privacidad
          th Creador
          th E-mail
          th N. Miembros
          th Admins
          th Fecha de Creación
          th Funciones
      tbody

        each community in groups
          tr
            td #1
            //#{community._id}
            td #{community.name}
            td #{community.category} | #{community.subcategory}
            td #{community.privacy   }
            td #{community.mail}
            td #{community.creator}
            td #{community.members.length}
            td
              each admMember in community.members
                if admMember.isAdmin == true
                  |  #{admMember.user}
                  br
            td January..
            //--#{community.creationDate}

            td.center.aligned
              .ui.small.basic.icon.buttons
                a.ui.button.cursor-pointer#update(data-value=community._id data-tooltip="Editar" data-position="bottom center")
                  i.edit.icon.green
                a.ui.button.cursor-pointer#view(data-value=community._id data-tooltip="Ver" data-position="bottom center")
                  i.unhide.icon.blue
                a.ui.button.cursor-pointer#remove(data-value=community._id data-tooltip="Eliminar" data-position="bottom center")
                  i.delete.icon.red

        tr
          td 1
          td Raster Studios inc.
          td Cat | subcat
          td Software
          td JUanito Banana
          td raster@studios.com
          td 50958
          td
            | juanito
            br
            | pedrito
            br
          td January 11, 2014
          td
            a(href="" data-tooltip="Ver" data-position="bottom center"): i.unhide.icon
            a(href="" data-tooltip="Editar" data-position="bottom center"): i.write.icon
            a(href="" data-tooltip="Eliminar" data-position="bottom center"): i.remove.icon

        script.
          var BASE_URL = "http://localhost:3000"

          // Función eliminar Comunidad -AJAX
          $('#remove.ui.button.cursor-pointer').click({}, function () {
            // this -> elemento que activó la función. data-value -> id del grupo
            var group = this
            var groupId = group.getAttribute("data-value")


            $('#confirmationRemove')
              .modal({
                closable: false,
                onApprove: function (groupDel) {

                  console.log("Eliminar Comunidad ", groupId);
                  $.ajax({'url': BASE_URL + "/groups/" + groupId + "?_method=DELETE",
                      'type' : 'POST',
                      'headers' : {'Content-Type' : 'application/json'},
                      'processData' : false,
                      'success' : function(data){

                          console.log("Comunidad eliminada ", data);
                          group.closest('tr').remove()  // remover grupo (para no recargar toda la página)
                          window.alert('Comunidad eliminada éxito');
                      },
                      'error': function(jqXHR, data){
                          window.alert('Elemento NO eliminado:', data);
                          console.log("[deleteGroupById-AJAX] Error al enviar peticion: ", data);
                          // 'Failed to save the settop box. See server logs for problem.</div>' );
                          },
                      'dataType' : 'json'
                  });



                }
              })
              .modal('show')
            ;

          })

          $('#update.ui.button.cursor-pointer').click(function () {
            var group = this
            var groupId = group.getAttribute("data-value")


            $.ajax({'url': BASE_URL + "/groups/" + groupId,
                'type' : 'GET',
                'headers' : {'Content-Type' : 'application/json'},
                'processData' : false,
                'success' : function(data){
                    //data = JSON.parse(data)
                    console.log("Comunidad obtenida ", data);
                    let formUpdate = $('#formUpdate');

                    formUpdate
                    .modal({
                      closable: false,
                      transition: 'fade up',
                    })
                    .modal('show');

                    // Valores actuales del grupo a campos del formulario
                    formUpdate.find("input[name='nameCommunity']").val(data.group.name);
                    formUpdate.find("textarea[name='descriptionCommunity']").val(data.group.description);
                    formUpdate.find("input[name='categoryCommunity']").val(data.group.category);
                    formUpdate.find("input[name='subcategoryCommunity']").val(data.group.subcategory);
                    formUpdate.find("checkbox[name='privacyCommunity']").val(data.group.privacy);

                    formUpdate.find("form").attr("action", "/groups/" + groupId.toString() + "?_method=PUT");

                },
                'error': function(jqXHR, data){
                    console.log("[DeleteCommunityAJAX] Error al enviar peticion: ", data);
                    // 'Failed to save the settop box. See server logs for problem.</div>' );
                    },
                'dataType' : 'json'
            });


              //$('.ui.large.modal#formUpdate').find("input[name='titleCommunity']").val("fedededef")
              //.modal().header.val("dwdw")
          })

          $('#view.ui.button.cursor-pointer').click(function () {
            var group = this
            var groupId = group.getAttribute("data-value")

              $.ajax({'url': BASE_URL + "/groups/" + groupId,
                  'type' : 'GET',
                  'headers' : {'Content-Type' : 'application/json'},
                  'processData' : false,
                  'success' : function(data){
                      //data = JSON.parse(data)
                      console.log("Comunidad View ", data);

                      $('#viewSingle')
                      .modal({
                      closable: false,
                      transition: 'vertical flip'
                      })
                      .modal('show')
                      .find("#nameGroup").text(data.group['_id'])
                      ;

                  },
                  'error': function(jqXHR, data){
                      console.log("[DeleteCommunityAJAX] Error al enviar peticion: ", data);
                      // 'Failed to save the settop box. See server logs for problem.</div>' );
                      },
                  'dataType' : 'json'
              });


          })

  // Ventana modal para nuevas comunidades
  .ui.modal#communities
    i.close.icon
    .header
      | Nueva Comunidad
      .content_form
        .ui.segment
          form.ui.fluid.form(method="POST" action="/groups")
            .field
              label Nombre del la comunidad
              input(type="text" name="nameCommunity" placeholder="Nombre")
            .field
              label Categoría
              input(type="text" name="categoryCommunity")
            .field
              label Subcategoría
              input(type="text" name="subcategoryCommunity")
            .field
              label Descripcion
              textarea(name="descriptionCommunity")
            .field
              .ui.checkbox
                input.hidden(type='checkbox', tabindex='0', name="privacyCommunity")
                label Comunidad privada
            script.
              $('.ui.checkbox')
                .checkbox()
              ;
            .field
              label Logotipo del la comunidad
              input(type="file")
            //todo Esto puede hacerse con ajax, y jquery para que cuando se presione el boton, se envie el form por post
            button.ui.button.positive.right.labeled.icon(type='submit')
              | Guardar cambios
              i.plus.icon
        script.
          $('.ui.accordion')
            .accordion()
          ;

  // Confirmacion de eliminar elemento
  .ui.basic.modal#confirmationRemove
    .ui.icon.header
      i.remove.icon
      |     ¿Deseas eliminar este elemento?
    .content
      p.font-size-sm El elemento se eliminará permanentemente y ya no podrá ser recuperado, ¿Realmente deseas eliminar este elemento?
    .actions
      .ui.red.basic.cancel.inverted.button
        i.remove.icon
        |       Cancelar
      a(href="#").ui.green.ok.inverted.button
        i.checkmark.icon
        |       Aceptar


  // Ventana modal para formulario editar
  .ui.large.modal#formUpdate
    i.close.icon
    .header
      | Actualización de datos
      .content_form
        .ui.segment

          form.ui.fluid.form(method="POST" action="")
            .field
              label Nombre del la comunidad
              input(type="text" name="nameCommunity" placeholder="Nombre")
            .field
              label Categoría
              input(type="text" name="categoryCommunity")
            .field
              label Subcategoría
              input(type="text" name="subcategoryCommunity")
            .field
              label Descripcion
              textarea(name="descriptionCommunity")
            .field
              .ui.checkbox(id='check2' )
                //TODO valores del check box ** Al cargar
                  $("#formUpdate").find("#check2").addClass("checked");
                  $("#formUpdate").find("input[name='privacyCommunity']").attr("checked","true");;
                  $("#formUpdate").find("input[name='privacyCommunity']").val("off");
                input.hidden(type='checkbox', tabindex='0', name="privacyCommunity")
                label Comunidad privada
            script.
              $('.ui.checkbox')
                .checkbox()
              ;
            .field
              label Logotipo del la comunidad
              input(type="file")
            //todo Esto puede hacerse con ajax, y jquery para que cuando se presione el boton, se envie el form por post
            button.ui.button.positive.right.labeled.icon(type='submit')
              | Guardar cambios
              i.plus.icon

  // Ventana modal para Visualizar
  .ui.modal#viewSingle
    i.close.icon
    .header
      | Modo: Vista Rapida
      .row.center-xs
        .col-xs-12
          article.post
            header
              .row.start-xs
                .col-xs-9.title
                  h2
                    a(id="nameGroup" href='#') Magna sed adipiscing
                  p Lorem ipsum dolor amet nullam consequat etiam feugiat
                .col-xs-3.meta
                  time.published.font-size-xs(datetime='2015-11-01') November 1, 2015
                  a.author(href='#')
                    span.name.font-size-xs Jane Doe
                    img(src='http://lorempixel.com/50/50/', alt='')
            span.image.featured
              img(src='http://lorempixel.com/800/550/', alt='')
            p.text.font-size-sm Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .actions
        .ui.black.deny.button
          | Cerrar
        a(href="").ui.positive.right.labeled.icon.button
          | Ver mas
          i.folder.open.icon
