extends ../../layout/layoutIndex

block title
  title Archivos

block main
  .row.center-xs
    p Todos los mis archivos
  .row.center-xs
    .col-xs-10
      if (folders != "")
        table.highlight.centered
          thead
            tr
              th ID
              th name
              th creationDate
              th author
              th folder
              th(colspan="3") crud
          tbody
            each folder in folders
              tr

                td #{folder._id}
                //td #{folder.ext}
                td #{folder.name}
                //-td #{moment(folder.creationDate).format('MM/DD/YYYY')}
                td #{folder.creationDate === undefined ? 'no de f ' : folder.creationDate }
                td #{folder.creator === undefined ? 'no de f ' : folder.creator._id  }
                td #{folder.folder}
                td
                  //-each file in filder.files
                    li  FILES-: #{file.name} #{file._id} #{file.ext}  #{file.creationDate} a(href="/files/file/" + file._id)

                td: a.waves-effect.waves-light.btn.margin-small(href="/files/" + folder._id + "/edit") Edit
                td: a.waves-effect.waves-light.btn.margin-small(href="/files/" + folder._id) Ver y editar archivos
                td
                  form(method="POST" action="/files/" + folder._id + "?_method=DELETE" enctype="multipart/form-data")
                    input.btn.margin-small(type="submit", value="Delete")
      else
        h3 No hay Archivos en la base de datos
