extends ../../layout/layoutIndex

block title
  title Todas las Noticias

block main
  .row.center-xs
    .col-xs-10
      if (news != "")
        table.highlight
          thead
            tr
              th id
              th title
              th image
              th text
              th category
              th creator
              th comments
              th likes
              th comentarios
          tbody
            each noti in news
              tr
                td #{noti._id}
                td #{noti.title}
                td #{noti.image}
                td #{noti.category}
                td #{noti.text}
                td #{noti.creator}
                td #{noti.comments}
                td #{noti.likes} //noticias/:id/edit
                td: a.waves-effect.waves-light.btn.margin-small(href="/news/" + noti._id + "/edit") Edit
                td: a.waves-effect.waves-light.btn.margin-small(href="/news/" + noti._id) View
                td
                  form(method="POST" action="/news/" + noti._id + "?_method=DELETE" )
                    input.btn.margin-small(type="submit", value="Delete")
                td
                  input(id="coment" type="text", name="", value="")
                td comentarios socket...


      else
        h2 No hay Noticias en la base de datos

        //- el navegador ignorara el script(tipo desconocido ). est orenderiza templates de handlebars

      div(id="noticiasCont") LLLLLLLLL
      script(id="newsTemplate" type="text/x-handlebars-template")
        strong Noticias
          //- Los datos seran compilados con handlebars
          div(class="")
            //- dobles llaves con json lo renderiza handlebars
            a(href="#") link a la noticia  /ruta/{{id}}
              //- titulo
              h2 {{title}}
            h3 {{text}}
            h3 {{id}}
